{
  "openapi": "3.1.0",
  "info": {
    "title": "Frontguard Cloud API",
    "version": "0.2.2",
    "description": "OpenAPI contract for the agent and CI-facing Frontguard Cloud API surface. This document is derived from packages/cloud-api/src/index.ts and the mounted route modules under packages/cloud-api/src/routes, and intentionally excludes browser session, OAuth, Stripe billing, and API-key bootstrap routes.",
    "x-generated-from": [
      "packages/cloud-api/src/index.ts",
      "packages/cloud-api/src/routes/screenshots.ts",
      "packages/cloud-api/src/routes/monitors.ts",
      "packages/cloud-api/src/routes/dashboard.ts",
      "packages/cloud-api/src/routes/teams.ts"
    ]
  },
  "servers": [
    {
      "url": "https://api.frontguard.dev"
    }
  ],
  "tags": [
    {
      "name": "Health"
    },
    {
      "name": "Runs"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Screenshots"
    },
    {
      "name": "Monitors"
    },
    {
      "name": "Dashboard"
    },
    {
      "name": "Teams"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": ["Health"],
        "summary": "Health check",
        "description": "Public health check. This route is not behind API-key authentication.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/run": {
      "post": {
        "operationId": "createRun",
        "tags": ["Runs"],
        "summary": "Submit a visual regression run",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRequest"
              },
              "examples": {
                "minimal": {
                  "value": {
                    "url": "https://example.com"
                  }
                },
                "ci": {
                  "value": {
                    "url": "https://example.com",
                    "routes": [
                      {
                        "path": "/",
                        "name": "Home"
                      },
                      {
                        "path": "/pricing"
                      }
                    ],
                    "viewports": [375, 1440],
                    "browsers": ["chromium"],
                    "threshold": 0.01,
                    "github": {
                      "owner": "acme",
                      "repo": "web",
                      "prNumber": 123,
                      "commitSha": "abc123"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run accepted and queued for asynchronous processing.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunQueuedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/runs": {
      "get": {
        "operationId": "listRuns",
        "tags": ["Runs"],
        "summary": "List recent runs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent runs visible to the caller.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/runs/{id}": {
      "get": {
        "operationId": "getRun",
        "tags": ["Runs"],
        "summary": "Get run status and result metadata",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Run visible to the caller.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteRun",
        "tags": ["Runs"],
        "summary": "Delete a run",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/reports/{id}": {
      "get": {
        "operationId": "getReport",
        "tags": ["Reports"],
        "summary": "Fetch an HTML report for a completed run",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Completed run report HTML.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Run exists but is not completed yet.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Run not yet completed",
                  "status": "queued"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/baselines/{runId}/approve": {
      "post": {
        "operationId": "approveBaseline",
        "tags": ["Runs"],
        "summary": "Approve baselines for a run",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RunIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Baseline approval recorded.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveBaselineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "operationId": "getUsage",
        "tags": ["Runs"],
        "summary": "Get monthly usage for the authenticated API key",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current month usage counters and static default limits.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/screenshots/{runId}": {
      "get": {
        "operationId": "listScreenshots",
        "tags": ["Screenshots"],
        "summary": "List screenshot metadata for a run",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RunIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot metadata for an owned run.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/screenshots/{runId}/{id}/raw": {
      "get": {
        "operationId": "getScreenshotRaw",
        "tags": ["Screenshots"],
        "summary": "Fetch raw PNG screenshot bytes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RunIdPath"
          },
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "PNG screenshot bytes.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              },
              "Cache-Control": {
                "description": "Private browser cache lifetime for image bytes.",
                "schema": {
                  "type": "string"
                },
                "example": "private, max-age=86400"
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/monitors": {
      "get": {
        "operationId": "listMonitors",
        "tags": ["Monitors"],
        "summary": "List monitors",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Monitors owned by the caller.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createMonitor",
        "tags": ["Monitors"],
        "summary": "Create a monitor",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/monitors/{id}": {
      "get": {
        "operationId": "getMonitor",
        "tags": ["Monitors"],
        "summary": "Get a monitor",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor owned by the caller.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateMonitor",
        "tags": ["Monitors"],
        "summary": "Update a monitor",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated monitor.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "tags": ["Monitors"],
        "summary": "Delete a monitor",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/monitors/{id}/runs": {
      "get": {
        "operationId": "listMonitorRuns",
        "tags": ["Monitors"],
        "summary": "List monitor run history",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent run history for the monitor.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorRunListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/monitors/{id}/test-alert": {
      "post": {
        "operationId": "testMonitorAlert",
        "tags": ["Monitors"],
        "summary": "Send a sample alert for a monitor",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Alert dispatch attempted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestAlertResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/monitors/{id}/snooze": {
      "post": {
        "operationId": "snoozeMonitor",
        "tags": ["Monitors"],
        "summary": "Snooze monitor alerts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnoozeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Snooze state updated. A null value means snooze was cleared.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnoozeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/dashboard": {
      "get": {
        "operationId": "getApiDashboard",
        "tags": ["Dashboard"],
        "summary": "Render the API-key guarded dashboard HTML",
        "description": "Read-only HTML dashboard mounted at /v1/dashboard. This is distinct from the session-cookie browser dashboard, which is intentionally excluded from this contract.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard HTML.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams": {
      "get": {
        "operationId": "listTeams",
        "tags": ["Teams"],
        "summary": "List teams for the caller",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Teams the caller belongs to.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createTeam",
        "tags": ["Teams"],
        "summary": "Create a team",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created; the caller is owner.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamWithRole"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/invitations/accept": {
      "post": {
        "operationId": "acceptTeamInvitation",
        "tags": ["Teams"],
        "summary": "Accept a team invitation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation accepted or existing higher role preserved.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptInvitationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{id}": {
      "get": {
        "operationId": "getTeam",
        "tags": ["Teams"],
        "summary": "Get team details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Team, members, projects, and caller role.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamDetailResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTeam",
        "tags": ["Teams"],
        "summary": "Rename or update a team",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated team.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTeam",
        "tags": ["Teams"],
        "summary": "Delete a team",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{id}/invitations": {
      "post": {
        "operationId": "createTeamInvitation",
        "tags": ["Teams"],
        "summary": "Invite a team member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamInvitationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation created. The token is returned by the real route for acceptance workflows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamInvitationCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequiredError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{id}/members/{userId}": {
      "patch": {
        "operationId": "updateTeamMemberRole",
        "tags": ["Teams"],
        "summary": "Change a team member role",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          },
          {
            "$ref": "#/components/parameters/UserIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberRoleUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "removeTeamMember",
        "tags": ["Teams"],
        "summary": "Remove a team member",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          },
          {
            "$ref": "#/components/parameters/UserIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Removal result. A missing target member returns removed false.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemovedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{id}/members/{userId}/reviewer": {
      "patch": {
        "operationId": "setTeamMemberReviewer",
        "tags": ["Teams"],
        "summary": "Set a member's baseline reviewer flag",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          },
          {
            "$ref": "#/components/parameters/UserIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewerUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reviewer flag updated.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewerUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{id}/projects": {
      "get": {
        "operationId": "listTeamProjects",
        "tags": ["Teams"],
        "summary": "List team projects",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Projects for the team.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createTeamProject",
        "tags": ["Teams"],
        "summary": "Create a team project",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamProject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{id}/projects/{projectId}": {
      "delete": {
        "operationId": "deleteTeamProject",
        "tags": ["Teams"],
        "summary": "Delete a team project",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          },
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{teamId}/projects/{projectId}/runs": {
      "get": {
        "operationId": "listProjectRuns",
        "tags": ["Teams"],
        "summary": "List project-scoped runs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdPath"
          },
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent runs for the project.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{teamId}/projects/{projectId}/baseline": {
      "get": {
        "operationId": "getProjectBaseline",
        "tags": ["Teams"],
        "summary": "Get a project's approved baseline run",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdPath"
          },
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Approved baseline run.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaselineResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{teamId}/projects/{projectId}/runs/{runId}/review": {
      "post": {
        "operationId": "reviewProjectRunBaseline",
        "tags": ["Teams"],
        "summary": "Review a project run baseline",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdPath"
          },
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          },
          {
            "$ref": "#/components/parameters/RunIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaselineReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review decision recorded.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaselineReviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{teamId}/projects/{projectId}/runs/{runId}/reviews": {
      "get": {
        "operationId": "listProjectRunReviews",
        "tags": ["Teams"],
        "summary": "List review decisions for a project run",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdPath"
          },
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          },
          {
            "$ref": "#/components/parameters/RunIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Review decisions for the run.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaselineApprovalListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{id}/activity": {
      "get": {
        "operationId": "listTeamActivity",
        "tags": ["Teams"],
        "summary": "List team activity",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent team activity.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamActivityListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/teams/{id}/usage": {
      "get": {
        "operationId": "getTeamUsage",
        "tags": ["Teams"],
        "summary": "Get aggregated team usage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "Usage month in YYYY-MM format. Defaults to the current month.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$",
              "example": "2026-06"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated usage for the team.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamUsage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Frontguard API key",
        "description": "Send API keys as Authorization: Bearer fg_xxx. The fg_xxx value is a placeholder example."
      }
    },
    "headers": {
      "XRateLimitLimit": {
        "description": "Maximum requests allowed in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 100
        }
      },
      "XRateLimitRemaining": {
        "description": "Requests remaining in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 99
        }
      },
      "XRateLimitReset": {
        "description": "Unix timestamp in seconds when the current rate-limit window resets.",
        "schema": {
          "type": "integer",
          "example": 1782038400
        }
      }
    },
    "parameters": {
      "IdPath": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RunIdPath": {
        "name": "runId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "TeamIdPath": {
        "name": "teamId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ProjectIdPath": {
        "name": "projectId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "UserIdPath": {
        "name": "userId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "TeamIdQuery": {
        "name": "teamId",
        "in": "query",
        "required": false,
        "description": "Team scope used by run submission and run listing.",
        "schema": {
          "type": "string"
        }
      },
      "LimitQuery": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum history rows to return. The route caps this value at 200 and defaults to 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Invalid request body or parameters.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "validation": {
                "value": {
                  "error": "Invalid request: missing or invalid field(s): url",
                  "details": {
                    "url": ["url must be a valid URL"]
                  }
                }
              },
              "fanOut": {
                "value": {
                  "error": "Fan-out exceeds maximum (120 screenshots; limit is 100).",
                  "fanOut": 120,
                  "maxFanOut": 100
                }
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Missing or invalid bearer API key. The auth guard returns this before rate-limit headers are set.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missing": {
                "value": {
                  "error": "Missing API key"
                }
              },
              "invalid": {
                "value": {
                  "error": "Invalid API key"
                }
              }
            }
          }
        }
      },
      "PaymentRequiredError": {
        "description": "Plan or usage limit blocks the operation.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Monthly run limit reached (500 on the Free plan).",
              "limit": 500,
              "current": 500,
              "upgradeUrl": "https://frontguard.dev/pricing"
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "Authenticated caller lacks the required team, project, or role permission.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Forbidden"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Resource is missing or hidden by ownership scoping.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Run not found"
            }
          }
        }
      },
      "ConflictError": {
        "description": "The requested team membership change violates role invariants.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "A team must have at least one owner"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Rate limit exceeded. Try again later."
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service misconfigured in production.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            },
            "example": "Service misconfigured (DB binding missing in production)"
          }
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": ["status", "version"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok"]
          },
          "version": {
            "type": "string",
            "example": "0.2.1"
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "limit": {
            "type": "integer"
          },
          "current": {
            "type": "integer"
          },
          "requested": {
            "type": "integer"
          },
          "upgradeUrl": {
            "type": "string",
            "format": "uri"
          },
          "fanOut": {
            "type": "integer"
          },
          "maxFanOut": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "RunRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Target URL to render. The service also applies server-side render-target safety checks."
          },
          "routes": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/RunRouteRequest"
            },
            "default": [
              {
                "path": "/"
              }
            ]
          },
          "viewports": {
            "type": "array",
            "maxItems": 6,
            "items": {
              "type": "integer",
              "minimum": 320,
              "maximum": 3840
            },
            "default": [1440]
          },
          "browsers": {
            "type": "array",
            "maxItems": 3,
            "items": {
              "$ref": "#/components/schemas/Browser"
            },
            "default": ["chromium"]
          },
          "threshold": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.01
          },
          "ai": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AiConfig"
              },
              {
                "type": "null"
              }
            ]
          },
          "projectId": {
            "type": "string"
          },
          "github": {
            "$ref": "#/components/schemas/GitHubLinkage"
          },
          "checkRunId": {
            "type": "integer"
          },
          "installationId": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "RunRouteRequest": {
        "type": "object",
        "required": ["path"],
        "properties": {
          "path": {
            "type": "string",
            "example": "/pricing"
          },
          "name": {
            "type": "string",
            "example": "Pricing"
          }
        },
        "additionalProperties": false
      },
      "Browser": {
        "type": "string",
        "enum": ["chromium", "firefox", "webkit"]
      },
      "AiConfig": {
        "type": "object",
        "required": ["provider"],
        "properties": {
          "provider": {
            "type": "string"
          },
          "model": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "GitHubLinkage": {
        "type": "object",
        "required": ["owner", "repo"],
        "properties": {
          "owner": {
            "type": "string"
          },
          "repo": {
            "type": "string"
          },
          "prNumber": {
            "type": "integer"
          },
          "commitSha": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RunQueuedResponse": {
        "type": "object",
        "required": ["id", "status", "reportUrl", "statusUrl"],
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["queued"]
          },
          "reportUrl": {
            "type": "string",
            "example": "/v1/reports/run_xxx"
          },
          "statusUrl": {
            "type": "string",
            "example": "/v1/runs/run_xxx"
          }
        },
        "additionalProperties": false
      },
      "Run": {
        "type": "object",
        "required": [
          "id",
          "status",
          "url",
          "routes",
          "viewports",
          "browsers",
          "threshold",
          "ai",
          "createdAt",
          "results",
          "reportUrl"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "running", "completed", "failed"]
          },
          "url": {
            "type": "string"
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunRoute"
            }
          },
          "viewports": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "browsers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "threshold": {
            "type": "number"
          },
          "ai": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AiConfig"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "number"
          },
          "results": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RunResult"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "reportUrl": {
            "type": ["string", "null"]
          },
          "reportHtml": {
            "type": "string"
          },
          "baselinesApproved": {
            "type": "boolean"
          },
          "projectId": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "github": {
            "$ref": "#/components/schemas/GitHubLinkage"
          },
          "checkRunId": {
            "type": "integer"
          },
          "installationId": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "RunRoute": {
        "type": "object",
        "required": ["path"],
        "properties": {
          "path": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "RunResult": {
        "type": "object",
        "required": [
          "route",
          "viewport",
          "status",
          "diffPercentage",
          "timestamp"
        ],
        "properties": {
          "route": {
            "type": "string"
          },
          "viewport": {
            "type": "integer"
          },
          "browser": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "diffPercentage": {
            "type": "number"
          },
          "classification": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "suggestedFix": {
            "$ref": "#/components/schemas/SuggestedFix"
          }
        },
        "additionalProperties": true
      },
      "SuggestedFix": {
        "type": "object",
        "required": [
          "fixType",
          "category",
          "patch",
          "confidence",
          "explanation"
        ],
        "properties": {
          "fixType": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "patch": {
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "explanation": {
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "RunListResponse": {
        "type": "object",
        "required": ["runs", "total"],
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Run"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "DeletedResponse": {
        "type": "object",
        "required": ["deleted"],
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UpdatedResponse": {
        "type": "object",
        "required": ["updated"],
        "properties": {
          "updated": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "RemovedResponse": {
        "type": "object",
        "required": ["removed"],
        "properties": {
          "removed": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ApproveBaselineResponse": {
        "type": "object",
        "required": ["approved", "runId"],
        "properties": {
          "approved": {
            "type": "boolean"
          },
          "runId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "UsageResponse": {
        "type": "object",
        "required": ["runs", "screenshots", "period", "limits"],
        "properties": {
          "runs": {
            "type": "integer"
          },
          "screenshots": {
            "type": "integer"
          },
          "period": {
            "type": "string",
            "enum": ["current_month"]
          },
          "limits": {
            "type": "object",
            "required": ["runs", "screenshots"],
            "properties": {
              "runs": {
                "type": "integer",
                "example": 500
              },
              "screenshots": {
                "type": "integer",
                "example": 5000
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "Screenshot": {
        "type": "object",
        "required": [
          "id",
          "route",
          "viewport",
          "browser",
          "type",
          "sizeBytes",
          "url"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "route": {
            "type": "string"
          },
          "viewport": {
            "type": "integer"
          },
          "browser": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["baseline", "current", "diff"]
          },
          "sizeBytes": {
            "type": ["integer", "null"]
          },
          "url": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ScreenshotListResponse": {
        "type": "object",
        "required": ["screenshots", "total"],
        "properties": {
          "screenshots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Screenshot"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "MonitorAlerts": {
        "type": "object",
        "properties": {
          "slack": {
            "type": "string",
            "format": "uri"
          },
          "email": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pagerduty": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Monitor": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "name",
          "url",
          "routes",
          "viewports",
          "intervalMinutes",
          "alertThreshold",
          "enabled",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "routes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "viewports": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "intervalMinutes": {
            "type": "integer"
          },
          "alertThreshold": {
            "type": "number"
          },
          "alerts": {
            "$ref": "#/components/schemas/MonitorAlerts"
          },
          "enabled": {
            "type": "boolean"
          },
          "lastRunAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastStatus": {
            "type": "string"
          },
          "leasedUntil": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "MonitorCreateRequest": {
        "type": "object",
        "required": ["name", "url"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "routes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            },
            "default": ["/"]
          },
          "viewports": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 320,
              "maximum": 3840
            },
            "default": [1440]
          },
          "intervalMinutes": {
            "type": "integer",
            "minimum": 5,
            "maximum": 10080,
            "default": 60
          },
          "alertThreshold": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.05
          },
          "alerts": {
            "$ref": "#/components/schemas/MonitorAlerts"
          },
          "enabled": {
            "type": "boolean",
            "default": true
          }
        },
        "additionalProperties": false
      },
      "MonitorUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "routes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "viewports": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 320,
              "maximum": 3840
            }
          },
          "intervalMinutes": {
            "type": "integer",
            "minimum": 5,
            "maximum": 10080
          },
          "alertThreshold": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "alerts": {
            "$ref": "#/components/schemas/MonitorAlerts"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "MonitorListResponse": {
        "type": "object",
        "required": ["monitors", "total"],
        "properties": {
          "monitors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitor"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "MonitorScreenshotRef": {
        "type": "object",
        "required": ["r2Key", "route", "viewport", "browser", "type"],
        "properties": {
          "r2Key": {
            "type": "string"
          },
          "route": {
            "type": "string"
          },
          "viewport": {
            "type": "integer"
          },
          "browser": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["baseline", "current", "diff"]
          }
        },
        "additionalProperties": false
      },
      "MonitorRun": {
        "type": "object",
        "required": [
          "id",
          "monitorId",
          "userId",
          "status",
          "regressionsCount",
          "attempts",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "monitorId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["passed", "regression", "error"]
          },
          "regressionsCount": {
            "type": "integer"
          },
          "attempts": {
            "type": "integer"
          },
          "screenshots": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "$ref": "#/components/schemas/MonitorScreenshotRef"
                }
              ]
            }
          },
          "error": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "MonitorRunListResponse": {
        "type": "object",
        "required": ["runs", "total"],
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitorRun"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "AlertDeliveryResult": {
        "type": "object",
        "required": ["channel", "ok"],
        "properties": {
          "channel": {
            "type": "string",
            "enum": ["slack", "email", "pagerduty"]
          },
          "ok": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "TestAlertResponse": {
        "type": "object",
        "required": ["sent", "deliveries"],
        "properties": {
          "sent": {
            "type": "boolean"
          },
          "deliveries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlertDeliveryResult"
            }
          }
        },
        "additionalProperties": false
      },
      "SnoozeRequest": {
        "type": "object",
        "properties": {
          "hours": {
            "type": "number",
            "minimum": 0,
            "maximum": 720,
            "default": 24
          }
        },
        "additionalProperties": false
      },
      "SnoozeResponse": {
        "type": "object",
        "required": ["snoozedUntil"],
        "properties": {
          "snoozedUntil": {
            "type": ["string", "null"],
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "TeamRole": {
        "type": "string",
        "enum": ["owner", "admin", "member", "viewer"]
      },
      "Team": {
        "type": "object",
        "required": ["id", "name", "plan", "createdAt"],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "stripeCustomerId": {
            "type": "string"
          },
          "stripeSubscriptionId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "TeamWithRole": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Team"
          },
          {
            "type": "object",
            "required": ["role"],
            "properties": {
              "role": {
                "$ref": "#/components/schemas/TeamRole"
              }
            }
          }
        ]
      },
      "TeamMember": {
        "type": "object",
        "required": ["teamId", "userId", "role", "createdAt"],
        "properties": {
          "teamId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/TeamRole"
          },
          "reviewer": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "TeamProject": {
        "type": "object",
        "required": ["id", "teamId", "name", "createdAt"],
        "properties": {
          "id": {
            "type": "string"
          },
          "teamId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "repoUrl": {
            "type": "string",
            "format": "uri"
          },
          "config": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "TeamCreateRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "additionalProperties": false
      },
      "TeamUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "additionalProperties": false
      },
      "TeamListResponse": {
        "type": "object",
        "required": ["teams", "total"],
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamWithRole"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "TeamDetailResponse": {
        "type": "object",
        "required": ["team", "members", "projects", "role"],
        "properties": {
          "team": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Team"
              },
              {
                "type": "null"
              }
            ]
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMember"
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamProject"
            }
          },
          "role": {
            "$ref": "#/components/schemas/TeamRole"
          }
        },
        "additionalProperties": false
      },
      "TeamInvitationCreateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "githubLogin": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "role": {
            "$ref": "#/components/schemas/TeamRole"
          }
        },
        "anyOf": [
          {
            "required": ["email"]
          },
          {
            "required": ["githubLogin"]
          }
        ],
        "additionalProperties": false
      },
      "TeamInvitationCreateResponse": {
        "type": "object",
        "required": ["id", "email", "githubLogin", "role", "token", "emailed"],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": ["string", "null"],
            "format": "email"
          },
          "githubLogin": {
            "type": ["string", "null"]
          },
          "role": {
            "$ref": "#/components/schemas/TeamRole"
          },
          "token": {
            "type": "string",
            "example": "inv_xxx"
          },
          "emailed": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "AcceptInvitationRequest": {
        "type": "object",
        "required": ["token"],
        "properties": {
          "token": {
            "type": "string",
            "example": "inv_xxx"
          }
        },
        "additionalProperties": false
      },
      "AcceptInvitationResponse": {
        "type": "object",
        "required": ["joined", "teamId", "role"],
        "properties": {
          "joined": {
            "type": "boolean",
            "enum": [true]
          },
          "teamId": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/TeamRole"
          }
        },
        "additionalProperties": false
      },
      "MemberRoleUpdateRequest": {
        "type": "object",
        "required": ["role"],
        "properties": {
[...]
